#include "../mycloud/mc_version.h"
#include "windows.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
//No icon for CLI version
//ICN                     ICON                    "Resources/icon.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//
VS_VERSION_INFO VERSIONINFO
 FILEVERSION MC_VERSION_RC
 FILEOS 0x40004L
 FILETYPE 0x1L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription",	"MyCloud Console Client"
            VALUE "ProductName",		"MyCloud"
            VALUE "OriginalFilename",	"Client.exe"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation"//, 0x0, 1200
    END
END
/////////////////////////////////////////////////////////////////////////////
