<?xml version="1.0" encoding="UTF-8"?>
<?define binaryDir = "..\build\x64\Release"?>
<?ifdef env.QTDIR?>
  <?define qtDir = "$(env.QTDIR)"?>
<?else?>
  <?error Must set %QTDIR%?>
<?endif?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="MyCloud Client" Language="1033" Version="!(bind.FileVersion.QtClient.exe)" Manufacturer="Patrick Siegler" UpgradeCode="dd5f59de-08bb-4ef8-9017-65b2ef4cd9ce">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64"/>
  
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="MyCloudClient" Level="1">
      <ComponentGroupRef Id="MainComponents" />
      <ComponentGroupRef Id="OtherComponents" />
		</Feature>
    
    <Icon Id="icon.ico" SourceFile="..\src\QtClient\Resources\icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
	</Product>


  <Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="MyCloud">
          <Directory Id="QTPLUGINSFOLDER" Name="qtplugins">
            <Directory Id="QTPLATFORMSFOLDER" Name="platforms" />
          </Directory>
        </Directory>
			</Directory>
      <Directory Id="ProgramMenuFolder" />
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="MainComponents" Directory="INSTALLFOLDER">
      <Component Win64="yes">
        <File Source="$(var.binaryDir)\QtClient.exe" KeyPath="yes"/>
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Directory="ProgramMenuFolder"
                  Icon="icon.ico"
                  Name="MyCloud"
                  Description="MyCloud Client"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"
                  Advertise="yes"/>
      </Component>
      <Component Win64="yes">
        <File Source="$(var.binaryDir)\Client.exe"/>
      </Component>
      <Component Win64="yes">
        <File Source="..\build\trustCA.crt" />
      </Component>
      <Component Win64="yes">
        <File Source="..\deps\openssl\binx64\libcrypto-1_1-x64.dll "/>
      </Component>
      <Component Win64="yes">
        <File Source="..\deps\openssl\binx64\libssl-1_1-x64.dll" />
      </Component>
      <Component Win64="yes">
        <File Source="C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Redist\MSVC\14.29.30133\x64\Microsoft.VC142.CRT\msvcp140.dll" />
      </Component>
      <Component Win64="yes">
        <File Source="C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Redist\MSVC\14.29.30133\x64\Microsoft.VC142.CRT\msvcp140_1.dll" />
      </Component>
      <Component Win64="yes">
        <File Source="C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Redist\MSVC\14.29.30133\x64\Microsoft.VC142.CRT\msvcp140_2.dll" />
      </Component>
      <Component Win64="yes">
        <File Source="C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Redist\MSVC\14.29.30133\x64\Microsoft.VC142.CRT\vcruntime140.dll" />
      </Component>
      <Component Win64="yes">
        <File Source="C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Redist\MSVC\14.29.30133\x64\Microsoft.VC142.CRT\vcruntime140_1.dll" />
      </Component>
      <Component Win64="yes">
        <File Source="..\deps\Qt\qt.conf" />
      </Component>
      <Component Win64="yes">
        <File Source="$(var.qtDir)\bin\Qt6Core.dll" />
      </Component>
      <Component Win64="yes">
        <File Source="$(var.qtDir)\bin\Qt6Network.dll" />
      </Component>
      <Component Win64="yes">
        <File Source="$(var.qtDir)\bin\Qt6Widgets.dll" />
      </Component>
      <Component Win64="yes">
        <File Source="$(var.qtDir)\bin\Qt6Gui.dll" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="OtherComponents">
      <Component Id="QtPlatformComponent" Directory="QTPLATFORMSFOLDER" Win64="yes">
        <File Source="$(var.qtDir)\plugins\platforms\qwindows.dll" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>